<div id="description">
    <h2>"SaveMyPlant" is a project created by members of Polytechnique Mtl during the 48h Hackathon (February 5-7)</h2>
    <h3>Here are our members : </h3>
</div>
<div id="team">
    <div class="team_member">
        <h1>Ayoub Chihab</h1>
        <span>desc</span>
        <div class="social">
            <a href="https://github.com/dasadou"><i class="fa fa-github fa-2x"></i></a>   
            <a href="https://www.linkedin.com/in/ayoub-chihab-a22408200/"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>   
    </div>
    <div class="team_member">
        <h1>Xavier Dupuis</h1>
        <span>Web Design / Project Architecture / Angular</span>
        <div class="social">
            <a href="https://github.com/XavierDupuis"><i class="fa fa-github fa-2x"></i></a>   
            <a href="https://www.linkedin.com/in/xavier-dupuis/"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>
    </div>
    <div class="team_member">
        <h1>Julie-Anne Jaeggi</h1>
        <span>desc</span>
        <div class="social">
            <a href="https://github.com/julie-annej"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/julie-anne-jaeggi/"><i class="fa fa-linkedin fa-2x"></i></a>  
        </div>
    </div>
    <div class="team_member">
        <h1>Olivier Saint-Cyr</h1>
        <span>desc</span>
        <div class="social">
            <a href="https://github.com/olivierSaintCyr"><i class="fa fa-github fa-2x"></i></a>   
            <a href="https://www.linkedin.com/in/olivier-saint-cyr/"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="logos">
    <img id="logo_hackatown" src="../../../ressources/logo_hackatown.png" alt="logo_hackatown">
    <img id="logo_mlh" src="../../../ressources/logo_mlh.png" alt="logo_mlh">
</div>