#description{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

#team{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgba(0, 88, 7, 0.5);
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
}

.team_member{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 5px;
}

h1{
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 0%;
}

.social{
    display: flex;
    text-align: center;
}

.social a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.logos img{
    margin-top: 2%;
    padding-left: 10%;
    margin-right: 10%;
} 

#logo_hackatown{
    max-height: 10em;
}

#logo_mlh{
    max-height: 8em;
}