<div class="center">
    <ngx-file-drop class="contour" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <br>
        <button type="button" (click)="openFileSelector()">Select file</button>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Our image classifier will predict whether or not your sample is damaged
                        <p>"Select" an image to view its result</p></th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong><img #img_classify [src]="imgURL" height="400" ></strong></td>
                </tr>
            </tbody>
        </table>
    </div>

