<div class="center">
    <ngx-file-drop contentClassName="contour" dropZoneClassName="contour" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <br>
        
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong><img #img_classify [src]="imgURL" height="400" ></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" (click)="openFileSelector()">Select file</button>
    <button (click)="predictClick()">Predict</button> 

