.example-container {
    width: auto;
    height: 100%;
    border: 15px solid rgba(0, 50, 4, 0.5);
    background-image: url("../ressources/crops.png");
    background-size:cover;
  }
  
  .example-sidenav-content {
    display: flex;
    text-align: left;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: first baseline;
    padding: 1%;
    color: darkgreen;
  }
  
  .example-sidenav {
    padding: 20px;
    max-width: 300px;
    width: auto;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .nav-option {
    padding-top: 30px;
    font-size: large;
    cursor: pointer;
  }

  .nav-description {
    color:gray
  }