<div>
  <!-- <input type="file" (change)="onFileChanged($event)">  -->
  <header> 
      <h1>Save My Plant </h1>
      
  </header>
  <p>Load a picture</p>
  <input #file id="file" type="file" accept='image/*' (change)="preview(file.files)" style="display:none"/>
  
  <button for="file" (click)="file.click()"> Select file</button> 
  
  <button (click)= "onUpload()"> Upload </button>
  
  <br>
  <div class="box">
      <span class="error" *ngIf="message">{{message}}</span>
      <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
</div>
