.error{
    color:red;
}

#main{
    margin: 5% 10%;
    padding: 2%;
    background-color: rgba(98, 168, 147, 0.404);
    text-align: center;
}

header{
    text-align: center;
    font-size: 30px;  
    font-family: 'Maven Pro', sans-serif;
}

button, label{
    justify-content: center;
    border-style: none;
    background-color: white;
    color: #537964;
    border-radius: 2px;
    font-size: 20px;
    margin: 1%;
    padding: 20px;
    border-radius: 200px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(39, 136, 0, 0.7);
    color: white;
}


