<header>Upload an Image</header>
<hr>
<div id="main">
  
  
  <p>Our image classifier will predict whether or not your sample is damaged</p>
  <p class="subtitle">"Select" an image and press "Predict" to view its result</p> 
  
  <div class="loader">
    <div class="entries">
      <img #img_classify [src]="imgURL">
      <card-ressource *ngIf="this.showCard" [card]="this.card"></card-ressource>
    </div>
    <drag-n-drop (newItemEvent)="onFileChanged($event)" (predictClickEvent)="predict()"></drag-n-drop>
  <!-- <br> -->
  <button class="help" (click)="help()">Help</button>
  <span class="error" *ngIf="message">{{message}}</span>
  </div>
</div>