<header>Upload an Image</header>
<hr>
<div id="main">
  <p>Our image classifier will predicts whether or not your sample is damaged</p>
  <p>"Select" an image to view its result</p>
  <div class="loader">
    <img #img_classify [src]="imgURL" height="400" >
    <input #file id="file" type="file" accept='image/*' (change)="onFileChanged($event)" style="display:none"/>
    <div></div>
    <button for="file" (click)="file.click()"> Select file</button> 
  </div>
  <br>
  <div class="image_preview">
    <span class="error" *ngIf="message">{{message}}</span>
    <canvas #canvas_img></canvas>
  </div>
</div>

  <!-- <ul class="list-group" *ngFor="let file of selectedFile">
    <li class="list-group-item">
      
      <img [src]="myForm.at(url)" height="350" *ngIf=""> 
     
    </li>
  </ul> -->