<header>Guide</header>
<hr>

<div class="main">
  <div class="instructions">
  <h3>Our AI based classifier uses specific details to give a verdict</h3>
  <h4>To ensure you get the best results, follow those tips :</h4>
    <ul>
      <li>Use a clear background (white or gray if possible)</li>
      <li>Use only one leaf per picture</li>
      <li>Consult external ressources (some verdicts might be wrong)</li>
    </ul>
    <h3>The following are correct and incorrect examples : </h3>
  </div>
  <div class="pictures">
    <div class="correct">
      <div>
        <img class="img" alt="healthyCorrect" src="/ressources/healthyCorrect.png">
      </div>
      <div>
        <img class="img" alt="notHealthyCorrect" src="/ressources/notHealthyCorrect.png">
      </div>
    </div>
    <div class="incorrect">
      <div>
        <img class="img" alt="healthyIncorrect" src="/ressources/healthyIncorrect.jpg">
      </div>
      <div>
        <img class="img" alt="notHealthyIncorrect" src="/ressources/notHealthyIncorrect.jpg">
      </div>
    </div>
  </div>
</div>
